<mat-toolbar class="top-menu">
  <button mat-icon-button (click)="openDialog()">
    <mat-icon class="menu-icon">add</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="filteringMenu">
    <mat-icon class="menu-icon">filter_list</mat-icon>
  </button>
  <mat-menu #filteringMenu="matMenu">
    <button mat-menu-item (click)="articlesComponent.filterArticles('All')">All</button>
    <button mat-menu-item (click)="articlesComponent.filterArticles('Horror')">Horror</button>
    <button mat-menu-item (click)="articlesComponent.filterArticles('Action')">Action</button>
    <button mat-menu-item (click)="articlesComponent.filterArticles('Adventure')">Adventure</button>
  </mat-menu>
  <span class="spacer"></span>
  <a [routerLink]="['/auth']" mat-icon-button>
    <mat-icon class="menu-icon">account_circle</mat-icon>
  </a>
</mat-toolbar>
